@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

:root {
    --primary-color: #5191fa;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #F7F8F9;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F7F8F9;
}

.div-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/*-------------------------------------------
     ------------ Header ------------
/*-------------------------------------------*/
.text-primary {
    color: var(--primary-color);
}

header {
    width: 100%;
    height: 20vh;
    /* vh = viewport height , tayalkhod tol dial safha kamla*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .navbar {
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1100px;
    padding: 20px;
}

header .navbar nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

header .navbar nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    color: black;
    font-weight: 500;
}

header .navbar nav ul li span a {
    color: var(--primary-color);
}

/*-------------------------------------------
     ------------ Contact  ------------
/*-------------------------------------------*/
#contact {
    max-width: 1200px;
    margin: 10px auto;
}

#contact .logo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/image-header.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 230px;
    position: center;
    margin-bottom: 5rem;

}

#contact .logo h1 {
    text-align: center;
    padding-top: 6%;
    color: white;
    font-size: 40px;
    text-decoration: underline;

}

#contact .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contact .row .col-3 {
    flex-basis: 30%;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

}

#contact .row .col-3 i {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.row .col-3 h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

#contact .contact-support {
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

}

#contact .contact-support .col-2 {
    flex-basis: 30%;
    padding: 10px;
}

#contact .contact-support .col-2 form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    background-color: var(--bg-primary);
    display: inline-block;
    border: 1px solid #ddd;
}

.contact-support form textarea {
    margin-top: 20px;
    outline: none;
    padding: 10px;
    max-width: 100%;
}


.contact-support form button {
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    width: 40%;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
}

.contact-support iframe {
    max-width: 100%;
}
/*-------------------------------------------
    ------------ Footer ------------
/*-------------------------------------------*/
footer {
    background-color: #222529;
    padding: 50px 50px 10px 50px;
    color: white;
}

footer .row .col-4 {
    flex-basis: 25%;
}

footer .widget h4,
.subscriber h4 {
    margin-bottom: 20px;
}

footer ul li {
    color: #819b9b;
    font-size: 13px;
    margin-top: 10px
}

footer ul li span {
    display: block;
    color: white;
}

footer .tagcloud a {
    text-decoration: none;
    display: inline-block;
    margin: 0.3846em 0.3846em 0.3846em 0;
    padding: 0.5em 0.6em 0.65em;
    border-radius: 0;
    font-weight: 400;
    border: 1px solid #313438;
    color: #a8a8a8;
    font-size: 13px;
}

footer .subscriber p {
    font-size: 13px;
}

footer .subscriber input {
    width: 90%;
    height: 3rem;
    padding: 0.8rem 2.4rem;
    border: 0;
    border-radius: 5rem;
    background: #292c30;
    color: #777;
    font-size: inherit;
    margin: 20px 0px;
    outline: none;
}

footer .subscriber .btn {
    width: 130px;
    height: auto;
    border: 0;
    border-radius: 5rem;
    background: #4488cd;
    text-align: center;
    padding: 10px;
}

.social {
    margin-top: 20px;
}

.social i {
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #777;
    transition: 0.8s;
}

.social .fa-facebook:hover {
    background-color: var(--primary-color)
}

.social .fa-instagram:hover {
    background-color: rgb(88, 9, 9)
}

.social .fa-twitter:hover {
    background-color: var(--primary-color)
}

.social .fa-youtube:hover {
    background-color: rgb(243, 92, 92)
}

.social .fa-pinterest-p:hover {
    background-color: rgb(241, 75, 75)
}

footer .footer-bottom p {
    text-align: center;
    color: #777;
    font-size: 13px;
    margin-top: 15px;
}

footer .footer-bottom {
    border-top: 1px solid #777;
    margin: 15px;
}

/*-------------------------------------------
    ------------ Media Querie ------------
/*-------------------------------------------*/


@media (max-width:600px) {
    .div-flex {
        display: block;
    }

    /*------------ header ------------ */
    header .navbar {
        position: relative
    }

    header .navbar nav {
        display: block;
        text-align: center;
    }

    header .navbar nav ul li {
        display: inline-block;
        margin-right: 10px;
    }

    header .navbar nav ul li a {
        font-weight: 400;
    }

    #contact .row {
        display: block;
        margin: 20px;

    }
    #contact .row .col-3 {
        flex-basis: 100%;
        padding: 10px;
        margin-bottom: 30px;
    
    }
    #contact .contact-support .col-2 {
        flex-basis: 100%;
        padding: 10px;
    }
    .contact-support form button {
        width: 50%;
        margin-bottom: 20px;

    }
    /*------------ Footer ------------ */
    footer {
        padding: 15px;

    }
    footer .widget h4,
    .subscriber h4 {
        margin-top: 50px;
    }

    footer .subscriber input {
        height: 2.6rem;
        padding: 0.7rem 2.3rem;
    }

    footer .subscriber .btn {
        width: 100px;
        border-radius: 2rem;
        padding: 5px;
        font-size: 14px;
    }

}


@media (max-width:800px) {

    /*------------ header ------------ */
    header .navbar {
        position: relative
    }

    header .navbar nav {
        display: block;
        text-align: center;
    }

    header .navbar nav ul li {
        display: inline-block;
        margin-right: 10px;
    }

    header .navbar nav ul li a {
        font-weight: 400;
    }

    #contact .logo h1 {
        padding-top: 10%;
    }
    /*------------ Footer ------------ */
    footer {
        padding: 10px;
    }

    footer .row .col-4 {
        flex-basis: 45%;
    }

    footer .widget h4,
    .subscriber h4 {
        margin-top: 50px;
    }

    footer .subscriber input {
        height: 2.6rem;
        padding: 0.7rem 2.3rem;
    }

    footer .subscriber .btn {
        width: 100px;
        border-radius: 2rem;
        padding: 5px;
        font-size: 14px;
    }

}